* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    /* for touch screen */
    touch-action: none; 
  }

  
  
  
  
  body {
    margin: 0;
    height: 100vh;
    background:linear-gradient(135deg,#1d1f20), #2c2f33 ;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #111;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }


  .headline {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #ffffff80;
    z-index: 2;
    position: relative;
  }
  #spin-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: spin 20s infinite linear;
  transform-style: preserve-3d;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center -300px; /* distance from center */
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #ffffff88;
  transform-style: preserve-3d;
}


 #heart-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  animation: rotate3D 3s linear infinite;
  z-index: 2;
 }
  
 .heart {
  width: 100px;
  height: 90px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: 0 0 20px red;
  animation: glow 2s ease-in-out infinite
  alternate, heartbeat 1.5s ease-in-out infinite;
 }

 
 

 .heart::before,
 .heart::after {
  content: "";
  width: 100px;
  height: 90px;
  background: red;
  border-radius: 50%;
  position: absolute;
 }

 .heart::before {
  top: -50px;
  left: 0;
 }

 .heart::after {
  left: 50px;
  top: 0;
 }

 .heart-text {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 20px;
  font-family: fantasy;
 }

 


  #drag-container, #spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  
  #drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
            box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  }
  
  #drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }
  
  #drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    color: #fff;
  }
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  
  #music-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }

  @keyframes rotateheart {
    0%{transform: translate(-50%,-50%) rotateY(0deg);}
    100% {transform: translate(-50%,-50%) rotateY(360deg);}
   }



  @keyframes glow {
    0% {
      box-shadow: 0 0 5px;
    }
    100% {
      box-shadow: 0 0 25px 10px red;
    }
  }

 @keyframes heartbeat {
  0% {
    transform: rotate(-45deg) scale(1);
  }
  25% {
    transform: rotate(-45deg) scale(1.1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2);
  }
  75% {
    transform: rotate(-45deg) scale(1.1);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
 }

